
/* ---- Página Index ---- */
.acesso {
    padding: 10%;
    max-width: 700px;
}

.acesso button {
    margin-top: 10px;
}

.acesso__login--senha {
    margin-top: 10px;
}

#usuario__incorreto {
    color: red;
}

/* ---- Página Agendar ---- */
.menu__header {
    padding: 1% 5%;
}

.opcoes__servicos{
    padding: 1% 5%;
}

.opcoes__servicos p {
    padding-top: 15px;
}