
/* ---- Página Index ---- */
.acesso {
    padding: 10%;
    max-width: 700px;
}

.acesso button {
    margin-top: 10px;
}

.acesso__login--senha {
    margin-top: 10px;
}

#usuario__incorreto {
    color: red;
}

/* ---- Página Agendar ---- */
.menu__header {
    padding: 1% 5%;
}

.agendamento__semana--dados {
    padding: 1%;
    width: 300px;
    text-align: center;
}

.opcoes__servicos{
    padding: 1% 5%;
}

.opcoes__servicos p {
    padding-top: 15px;
}

.horario__incorreto, .mensagens__pendente {
    color: red;
}

.agendamento__sucesso {
    color: green;
}

.ui-datepicker {
    background-color: white; /* Define um fundo branco */
    border: 1px solid #ccc; /* Adiciona uma borda sutil */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Efeito de sombra opcional */
    padding: 5px;
    display: none;
}

.ui-datepicker-prev, .ui-datepicker-next {
    margin: 0 10px; 
}

.opcoes__servicos button {
    margin-top: 15px;
}

/* ---- Página Próximos Agendamentos ---- */
.listagem__agendamentos__encontrados {
    margin: 1% 5%;
    max-width: 60%;
}

.list-group{
    margin-top: 3%;
}

.botao__servico {
    cursor: pointer;
}

.informacao__adicional {
    display: none;
}

.atendimento__realizado{
    margin-top: 10px;
    width: 200px;
    text-align: center;
}

.list-group-item.botao__servico:hover {
    background-color: #F8F9FA;
}

/* ---- Página Editar Agendamento ---- */
.editar__agendamento, .cancelar__agendamento {
    width: 90px;
}

.cancelar__agendamento {
    margin-left: 20px;
}